<%= form_for @voucher, html: { multipart: true } do |f| %>
  <% if @voucher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voucher.errors.count, "error") %> prohibited this voucher from being saved:</h2>

      <ul>
      <% @voucher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4">

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <%= f.label :customer_id %>
          </div>
          <div class="col-md-6">
            <%= f.collection_select(:customer_id, Customer.all, :id, :name, {}, {class: "form-control"}) %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <%= f.label :account_id %>
          </div>
          <div class="col-md-6">
            <%= f.collection_select(:account_id, Account.all, :id, :title, {} ,{class: "form-control"}) %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <%= f.label :department_id %>
          </div>
          <div class="col-md-6">
            <%= f.collection_select(:department_id, Department.all, :id, :name, {} ,{class: "form-control"}) %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <%= f.label :bank_id %>
          </div>
          <div class="col-md-6">
            <%= f.collection_select(:bank_id, Bank.all, :id, :name, {} ,{class: "form-control"}) %>
          </div>
        </div>
      </div>


    </div>



    <div class="col-md-3 col-md-offset-3">
      <div class="form-group form-inline">
        <%= f.label 'PO#' %> <%= f.number_field :purchase_order, class: 'form-control' %>
      </div>
      <div class="form-group form-inline">
        <%= f.label 'CN#' %> <%= f.number_field :confirmation_number, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <%= f.label 'CK#' %> <%= f.number_field :cheque_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'CK Date' %><br>
        <%= f.date_select :cheque_date %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :description %>
          </div>
          <div class="col-md-8">
            <%= f.text_field :description, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div id="particulars">
    <%= f.fields_for :particulars do |particular| %>
      <%= render 'vouchers/particular_fields', f: particular %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add details', f, :particulars , :class => "label label-info", data: {"association-insertion-method" => :after, "association-insertion-node" => "#particulars"} %>
      <br>
      <div id="particulars"></div>
    </div>
    <hr>
  </div>
  <br>

  <div class="row">
  <div class="col-md-3">
  <div class="form-group">
    <%= f.label 'Attach cheque image' %>
    <%= f.file_field :cheque_image, class: "form-control" %>
  </div>
  </div>
  </div>

  <div class="actions">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>

