<div class="nested-fields">

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :particular %>
            <%= link_to_remove_association 'remove', f, :class => "label label-danger" %>
          </div>
          <div class="col-md-7">
            <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <div class="col-md-1">
              <%= f.label :amount %>
            </div>
            <div class="col-md-2">
              <%= f.number_field :amount, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>