<p id="notice"><%= notice %></p>

<br>

<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <%= form_tag search_vouchers_path, method: :get do %>
      <div class="form-group form-inline">
        <%= text_field_tag :search, params[:search], class: "form-control" %> <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Paid To</th>
      <th>Bank</th>
      <th>Cheque #</th>
      <th>Cheque Date</th>
      <th>PO #</th>
      <th>CN</th>
      <th>Account</th>
      <th>Department</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.customer.name %></td>
        <td><%= voucher.bank.name %></td>
        <td><%= voucher.cheque_number %></td>
        <td><%= voucher.cheque_date %></td>
        <td><%= voucher.purchase_order %></td>
        <td><%= voucher.confirmation_number %></td>
        <td><%= voucher.account.title %></td>
        <td><%= voucher.department.name %></td>
        <td><%= voucher.description %></td>
        <td align="right"><%= sum_hash(voucher.particulars)%></td>
        <td align="center"><%= link_to voucher, class: "btn btn-success btn-xs" do %><span class="glyphicon glyphicon-zoom-in"></span><% end %></td>
        <td align="center"><%= link_to edit_voucher_path(voucher), class: "btn btn-warning btn-xs" do %><span class="glyphicon glyphicon-pencil"></span><% end %></td>
        <td align="center"><%= link_to voucher, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %><span class="glyphicon glyphicon-remove"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_voucher_path, class: 'btn btn-primary' do %>
  <i>New Voucher <span class="glyphicon glyphicon-fire"></span></i>
<% end %> <br>


